.DS_Store
SOFTWARE/no-OS-FatFS-SD-SPI-RPi-Pico/simple_example/build/simple_example.bin
SOFTWARE/no-OS-FatFS-SD-SPI-RPi-Pico/simple_example/build/simple_example.dis
SOFTWARE/no-OS-FatFS-SD-SPI-RPi-Pico/simple_example/build/simple_example.elf
SOFTWARE/no-OS-FatFS-SD-SPI-RPi-Pico/simple_example/build/simple_example.elf.map
SOFTWARE/no-OS-FatFS-SD-SPI-RPi-Pico/simple_example/build/simple_example.hex
SOFTWARE/no-OS-FatFS-SD-SPI-RPi-Pico/simple_example/build/_deps/picotool/enc_bootloader_mbedtls.elf
SOFTWARE/no-OS-FatFS-SD-SPI-RPi-Pico/simple_example/build/_deps/picotool/enc_bootloader.elf
SOFTWARE/no-OS-FatFS-SD-SPI-RPi-Pico/simple_example/build/_deps/picotool/picotool
SOFTWARE/no-OS-FatFS-SD-SPI-RPi-Pico/simple_example/build/_deps/picotool-build/picotool
SOFTWARE/no-OS-FatFS-SD-SPI-RPi-Pico/simple_example/build/_deps/picotool-build/bintool/libbintool.a
SOFTWARE/no-OS-FatFS-SD-SPI-RPi-Pico/simple_example/build/_deps/picotool-build/bintool/CMakeFiles/bintool.dir/bintool.cpp.o
SOFTWARE/no-OS-FatFS-SD-SPI-RPi-Pico/simple_example/build/_deps/picotool-build/bintool/CMakeFiles/bintool.dir/bintool.cpp.o.d
SOFTWARE/no-OS-FatFS-SD-SPI-RPi-Pico/simple_example/build/_deps/picotool-build/bintool/CMakeFiles/bintool.dir/mbedtls_wrapper.c.o
SOFTWARE/no-OS-FatFS-SD-SPI-RPi-Pico/simple_example/build/_deps/picotool-build/bintool/CMakeFiles/bintool.dir/mbedtls_wrapper.c.o.d
SOFTWARE/no-OS-FatFS-SD-SPI-RPi-Pico/simple_example/build/_deps/picotool-build/CMakeFiles/4.0.0/CMakeDetermineCompilerABI_C.bin
SOFTWARE/no-OS-FatFS-SD-SPI-RPi-Pico/simple_example/build/_deps/picotool-build/CMakeFiles/4.0.0/CMakeDetermineCompilerABI_CXX.bin
SOFTWARE/no-OS-FatFS-SD-SPI-RPi-Pico/simple_example/build/_deps/picotool-build/CMakeFiles/4.0.0/CompilerIdC/a.out
SOFTWARE/no-OS-FatFS-SD-SPI-RPi-Pico/simple_example/build/_deps/picotool-build/CMakeFiles/4.0.0/CompilerIdCXX/a.out
SOFTWARE/no-OS-FatFS-SD-SPI-RPi-Pico/simple_example/build/_deps/picotool-build/CMakeFiles/picotool.dir/data_locs.cpp.o
SOFTWARE/no-OS-FatFS-SD-SPI-RPi-Pico/simple_example/build/_deps/picotool-build/CMakeFiles/picotool.dir/data_locs.cpp.o.d
SOFTWARE/no-OS-FatFS-SD-SPI-RPi-Pico/simple_example/build/_deps/picotool-build/CMakeFiles/picotool.dir/get_enc_bootloader.cpp.o
SOFTWARE/no-OS-FatFS-SD-SPI-RPi-Pico/simple_example/build/_deps/picotool-build/CMakeFiles/picotool.dir/get_enc_bootloader.cpp.o.d
SOFTWARE/no-OS-FatFS-SD-SPI-RPi-Pico/simple_example/build/_deps/picotool-build/CMakeFiles/picotool.dir/main.cpp.o
SOFTWARE/no-OS-FatFS-SD-SPI-RPi-Pico/simple_example/build/_deps/picotool-build/CMakeFiles/picotool.dir/main.cpp.o.d
SOFTWARE/no-OS-FatFS-SD-SPI-RPi-Pico/simple_example/build/_deps/picotool-build/CMakeFiles/picotool.dir/no_otp.cpp.o
SOFTWARE/no-OS-FatFS-SD-SPI-RPi-Pico/simple_example/build/_deps/picotool-build/CMakeFiles/picotool.dir/no_otp.cpp.o.d
SOFTWARE/no-OS-FatFS-SD-SPI-RPi-Pico/simple_example/build/_deps/picotool-build/CMakeFiles/picotool.dir/lib/whereami/whereami.c.o
SOFTWARE/no-OS-FatFS-SD-SPI-RPi-Pico/simple_example/build/_deps/picotool-build/CMakeFiles/picotool.dir/lib/whereami/whereami.c.o.d
SOFTWARE/no-OS-FatFS-SD-SPI-RPi-Pico/simple_example/build/_deps/picotool-build/CMakeFiles/picotool.dir/lib/whereami/whereami++.cpp.o
SOFTWARE/no-OS-FatFS-SD-SPI-RPi-Pico/simple_example/build/_deps/picotool-build/CMakeFiles/picotool.dir/lib/whereami/whereami++.cpp.o.d
SOFTWARE/no-OS-FatFS-SD-SPI-RPi-Pico/simple_example/build/_deps/picotool-build/elf/CMakeFiles/elf.dir/elf_file.cpp.o
SOFTWARE/no-OS-FatFS-SD-SPI-RPi-Pico/simple_example/build/_deps/picotool-build/elf/CMakeFiles/elf.dir/elf_file.cpp.o.d
SOFTWARE/no-OS-FatFS-SD-SPI-RPi-Pico/simple_example/build/_deps/picotool-build/elf2uf2/CMakeFiles/elf2uf2.dir/elf2uf2.cpp.o.d
SOFTWARE/no-OS-FatFS-SD-SPI-RPi-Pico/simple_example/build/_deps/picotool-build/enc_bootloader/enc_bootloader.elf
SOFTWARE/no-OS-FatFS-SD-SPI-RPi-Pico/simple_example/build/_deps/picotool-build/enc_bootloader/CMakeFiles/4.0.0/CMakeDetermineCompilerABI_C.bin
SOFTWARE/no-OS-FatFS-SD-SPI-RPi-Pico/simple_example/build/_deps/picotool-build/enc_bootloader/CMakeFiles/4.0.0/CMakeDetermineCompilerABI_CXX.bin
